@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font: 20px/24px lato;
  color: white;
  background-color: black;
  overflow-x: hidden;
}
.header {
  display: flex;
  width: 100vw;
  height: 43px;
  justify-content: space-around;
  align-items: center;
  padding: 57px 80px;
  position: relative;
  z-index: 9999;
  top: 0;
  background-color: black;
}
.logo h1 {
  color: #fa6e00;
  font-family: K2D;
  font-size: 30px;
}
nav.leptop{
  width: 654px;
  height: 24px;
}
nav.leptop ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.leptop ul li {
  list-style: none;
}
.leptop ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.hire-button {
  padding: 12px 40px;
  border-radius: 10px;
  background-color: #fa6e00;
}
.hire-button a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
#home {
  margin: 170px 100px -100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1-1 {
  width: 550px;
  margin-bottom: 150px;
}
.isi {
  margin-bottom: 100px;
  width: 100%;
}
.box1-1 .isi h3 {
  color: #707070;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.box1-1 .isi h2 {
  color: #959595;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
}
.box1-1 .isi h1 {
  font-size: 70px;
  font-weight: 900;
  color: #fa6e00;
}
/* .icon a{
    text-decoration: none;
    padding: 5px;
    background-color: #575757;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
} */
.doublebutton {
  margin-bottom: 60px;
}
.doublebutton a {
  padding: 12px 40px;
  text-decoration: none;
  border-radius: 10px;
}
.butt1 {
  background-color: #fa6e00;
  margin-right: 25px;
  color: white;
  font-weight: bold;
  transition: 200ms ease-in-out;
  border: black solid 3px;
}
.butt1:hover {
  border: #707070 solid 3px;
  color: #959595;
  font-weight: bold;
  background-color: transparent;
}
.butt2 {
  border: #707070 solid 3px;
  color: #959595;
  font-weight: bold;
  transition: 200ms ease-in-out;
}
.butt2:hover {
  border: black solid 3px;
  background-color: #fa6e00;
  color: white;
}
.projek {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 24px;
  background-color: #ffffff13;
  border-radius: 10px;
}
.hasil {
  padding-left: 20px;
  padding-right: 20px;
}
.hasil h1 {
  color: #fa6e00;
  font-weight: 800;
  font-size: 24px;
}
.hasil p {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.line {
  width: 3px;
  height: 70px;
  background-color: #707070;
  border-radius: 10px;
}
.info {
  text-align: center;
}
.info h1 {
  margin-bottom: 15px;
  font-weight: bold;
}
.info p {
  color: #707070;
  font-size: 20px;
  margin-bottom: 50px;
}
#service {
  margin: 100px 100px;
}
.bag-kolom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.kolom {
  height: 300px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.098);
  text-align: left;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 50px;
}
.kolom i {
  margin-bottom: 10px;
}
.kolom h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fa6e00;
  font-weight: bold;
}
.kolom p {
  font-size: 16px;
  color: #707070;
  text-align: justify;
}
#aboutme {
  margin: 10px 100px 150px;
}
.box3 {
  width: 100%;
  text-align: center;
  color: #707070;
  font-size: 16px;
  margin-bottom: 50px;
}
.box3 p {
  margin-bottom: 30px;
}
.CV {
  color: white;
  background-color: #fa6e00;
  font-weight: bold;
  padding: 12px 40px;
  text-decoration: none;
  border-radius: 10px;
}
.CV i {
  margin-right: 10px;
}
#portofolio {
  margin: 100px 100px;
}
.-hasil {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.info.margin {
  margin-bottom: 50px;
}
.total-hasil {
  display: flex;
  justify-content: center;
  gap: 1vw;
  flex-wrap: wrap;
}
.total {
  width: 400px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 50px;
  position: relative;
}
.total a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.total img {
  width: 400px;
  height: 450px;
  object-fit: cover;
  border-radius: 20px 20px 15px 15px;
  overflow: hidden;
  position: relative;
}
.teks {
  width: 400px;
  height: 50px;
  background-color: #252525;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.kolom-pertanyaan h1,
p {
  text-align: center;
}
.kolom-pertanyaan h1 {
  margin-bottom: 15px;
}
.kolom-pertanyaan p {
  margin-bottom: 25px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.baris {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
  gap: 30px;
  padding: 20px;
}
input[type="text"] {
  width: 75%;
  padding: 15px 25px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid #707070;
  border-right: 2px solid #707070;
  color: white;
}
.select {
  width: 75%;
  padding: 15px 25px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #959595;
  border: 0;
  border-bottom: 2px solid #707070;
  border-right: 2px solid #707070;
}
.masuk {
  width: 50%;
  display: flex;
  justify-content: end;
}
.keluar {
  width: 50%;
  display: flex;
  justify-content: baseline;
}
textarea {
  width: 75%;
  height: 150px;
  padding: 10px 10px 30px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-bottom: 2px solid #707070;
  border-right: 2px solid #707070;
  color: white;
  font-family: "lato";
}
::placeholder {
  font-family: "lato";
  color: #959595;
}
.kirim {
  color: white;
  width: 100px;
  padding: 15px 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
  text-decoration: none;
  margin-left: 85%;
}
.footer {
  background-color: #1b1b1b;
  padding: 30px;
}
.kotak1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.kotak1 .logo {
  margin-bottom: 20px;
}
.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}
.search a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.garis-footer {
  height: 2px;
  width: 90%;
  background-color: #707070;
  margin: 20px;
}
.kotak2 {
  display: flex;
  justify-content: center;
  margin: 40px;
  gap: 40px;
  font-weight: bold;
}
.cp p {
  color: #707070;
  font-weight: bold;
}
@media screen and (max-width: 1286px) {
  .info p {
    margin-bottom: 25px;
  }
  .kolom {
    height: 275px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.098);
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  .kolom h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fa6e00;
    font-weight: bold;
  }
}
@media screen and (max-width: 1100px) {
  #service {
    margin: 30px auto auto auto;
  }
  .bag-kolom {
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 1060px) {
  #portofolio {
    margin: 100px 0;
    justify-content: center;
  }
  .box4 {
    display: flex;
    flex-direction: column;
  }
  .projek {
    padding: 15px;
  }
  .hasil {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1010px) {
/* akan dibuatnya hamburger pada size 950px */
  .header {
    padding: 40px 50px;
  }
  .logo h1 {
    font-size: 25px;
  }
  nav ul {
    gap: 30px;
  }
  ul li a {
    font-size: 16px;
  }
  .hire-button {
    padding: 10px 20px;
    width: 125px;
    display: flex;
    justify-content: center;
  }
  .hire-button a {
    text-align: center;
    width: 175px;
  }
}
@media screen and (max-width: 710px) {
  nav{
    display: none;
  }
  .kotak2 {
    display: none;
  }
  .box1-1 .isi h1 {
    font-size: 50px;
  }
  .box1-1 .isi h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .box1-1 .isi h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 612px) {
  .doublebutton {
    display: none;
  }
  #home {
    height: 100vh;
    margin: 100px 75px 0;
  }
  .isi {
    margin-bottom: 150px;
  }
  .kolom {
    height: 325px;
    width: 250px;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
  }
  #aboutme {
    margin: 100px 100px 125px;
  }
  .info {
    margin-bottom: 50px;
  }
  .kolom h1 {
    font-size: 20px;
  }
  .kolom p {
    font-size: 14px;
  }
  .info {
    margin-bottom: 30px;
  }
  .info p {
    display: none;
  }
  .box3 p {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .total {
    width: 275px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  .total img {
    width: 275px;
    height: 350px;
  }
  .teks {
    width: 275px;
    height: 50px;
    background-color: #252525;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }
  .nama {
    font-size: 16px;
  }
  .total a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  .kolom-pertanyaan p {
    display: none;
  }
  input[type="text"] {
    width: 100%;
    padding: 10px 20px;
  }
  .baris {
    display: block;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .masuk {
    width: 100%;
    margin-bottom: 20px;
  }
  .keluar {
    width: 100%;
  }
  .select {
    width: 100%;
    padding: 10px 20px;
  }
  textarea {
    width: 100%;
    height: 125px;
    padding: 10px 20px;
  }
  .kirim {
    margin-left: 0;
    margin: auto;
    font-size: 20px;
    padding: 10px 15px;
  }
  form {
    margin-bottom: 30px;
  }
  .search {
    display: none;
  }
  .kotak1 .logo {
    margin-bottom: 10px;
  }
  .cp {
    margin-top: 10px;
  }
}
@media screen and (max-width: 515px) {
  .unresponsive {
    display: none;
  }
  #home {
    margin-bottom: 0;
  }
  .box1-1 .isi h1 {
    font-size: 10vw;
  }
  .box1-1 .isi h2 {
    font-size: 6vw;
  }
  .box1-1 .isi h3 {
    font-size: 5vw;
  }
  #service {
    margin-top: 10px;
    padding-top: 0;
  }
  .CV {
    padding: 20px 20px;
  }
  .shorten-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .box3 p {
    text-align: justify;
  }
}
@media screen and (max-width: 515px) {
  i.icon-delete {
    display: none;
  }
}